table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    max-width: 80rem;
    margin: 1rem auto;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th, tfoot td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #443C68;
    color: white;
  }
  
  .resizer {
    display: inline-block;
    background: #cecece;
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
  }
  
  .resizer.isResizing {
    background: #cecece;
  }

  .subTable {
    width: 100%;
    display: inline-block;
    /*float: right;*/
    margin-left: 3rem;
    padding: 1rem;
    background-color: #ffffff;
  }
